h1{
	padding: 20px;
	margin: 20px 10px;
}
p{
	padding: 20px;
	margin: 20px 10px;
	border-width: 5px;
  	border-style: solid;
   	border-color : #09C;
}
.h{
	border-width: 5px;
	border-style: solid;
	text-align: center;
}
hr{
	width: 100px;
}

nav{
	float: left;
	width: 150px;
	border: 1px solid black ;

}

section{
	margin-left: 170px;
	

}

